 # THE ANALYSIS OF HOUSE SALES 
 ## (KING COUNTY USA)

### Loading the data

In [117]:
import pandas as pd 
df=pd.read_csv(r"C:\Users\Lenovo\Desktop\Pandas\kc_house_data.csv")

### EXPLORING THE VARIABLES
In this dataset, there are 21 different  variables which are  information for each house. These pieces of information describe different aspects of the houses, like their price, size, design, view, history, and location. Each house has its own set of these characteristics. One of the pieces of information is the house's ID, which is like its special code. So, we can use these details to understand and compare the houses better.
1.	id: identifier for each house listing.
2.	date: Date when the house listing was recorded.
3.	price: Price of the house.
4.	bedrooms: Number of bedrooms in the house.
5.	bathrooms: Number of bathrooms in the house (including fractional values which may include the presence of different types of bathrooms).
6.	sqft_living: Square footage of the living space in the house.
7.	sqft_lot: Square footage of  the house is situated on.
8.	floors: Number of floors in the house(may have semi floors such as atic or only balcony).
9.	waterfront: Indicates whether the house is waterfront property .
10.	view: Level of view from the house .
11.	condition: Condition of the house .
12.	grade: Grade of the house .
13.	sqft_above: Square footage of the house above ground level.
14.	sqft_basement: Square footage of the basement in the house.
15.	yr_built: Year the house was built.
16.	yr_renovated: Year the house was last renovated .
17.	zipcode: Zip code of the area where the house is located.
18.	lat: Latitude coordinate of the house location.
19.	long: Longitude coordinate of the house location.
20.	sqft_living15: Square footage of the living space of the nearest 15 neighbors.
21.	sqft_lot15: Square footage of the lot of the nearest 15 neighbors.

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

## MORE ABOUT THESE HOUSES

We will explore the features or qualities that define the houses located in King County, USA.

 ### PRICES

The respective average, maximum, and minimum prices for houses in King County, USA, are as follows

In [119]:
# Distribution
df['price'].min(), df['price'].max()
# (75000.0, 7700000.0)
# Most Common Price
df['price'].value_counts().idxmax()
# 450000.0
# Highest Price
df['price'].max()
# 7700000.0
# Lowest Price
df['price'].min()
#75000.0

75000.0

We can now understand that the prices of these houses are relatively high, especially considering that the average price is around $540,000.

### DATES OF Purchase

In [59]:

# Distribution
df['date'].min(), df['date'].max()
#(Timestamp('2014-05-02 00:00:00'), Timestamp('2015-05-27 00:00:00'))
# most_common_date OF PURCHASE
df['date'].value_counts().idxmax()
#Timestamp('2014-06-23 00:00:00')
# LATEST_DATE OF PURCHASE
df['date'].max()
#Timestamp('2015-05-27 00:00:00')
# earliest_date OF PURCHASE
df['date'].min()
# Timestamp('2014-05-02 00:00:00')

Timestamp('2014-05-02 00:00:00')

We can see that the summer of 2014 was a great time for sales, as houses were sold quickly. This is clear from the fact that all the houses were sold within just one year, starting from the sale of the first house.

### Areas Of Houses

In [60]:
# Distrbution
df['sqft_living'].min(),df['sqft_living'].max()
# (290, 13540)
#The most common living areas among the houses
df['sqft_living'].value_counts().idxmax()
# 1300
#The largest living area among the houses.
df['sqft_living'].max()
# 13540 
#The  smallest living area among the houses.
df['sqft_living'].min()
# 290

290

We can see that these houses offer a variety of living areas, catering to the needs of most people. The living areas span a wide range, from 290 square feet to 13,540 square feet

### WaterFront && View

In [120]:
#
df['waterfront'].value_counts()
# 0    21450
# 1      163
view=dict(df['view'].value_counts())
#{0: 19489, 2: 963, 3: 510, 1: 332, 4: 319}

From this, we can identify that only a few houses are situated with waterfront or a view. Therefore, if you're searching for a suburban house, King County is your ideal choice.

### Condition of Houses

In [67]:
condition=dict(df['condition'].value_counts())
# {3: 14031, 4: 5679, 5: 1701, 2: 172, 1: 30}

{3: 14031, 4: 5679, 5: 1701, 2: 172, 1: 30}

The majority of houses fall under condition 3, indicating that a significant portion of the properties are in a moderately well-maintained state. These houses could be suitable for buyers who value a balance between cost and condition.

### RANKING OF HOUSES (GRADE )

In [ ]:
grades=dict(df['grade'].value_counts())
# {7: 8981,
#  8: 6068,
#  9: 2615,
#  6: 2038,
#  10: 1134,
#  11: 399,
#  5: 242,
#  12: 90,
#  4: 29,
#  13: 13,
#  3: 3,
#  1: 1}

The majority of houses have grades 7 and 8, indicating good overall quality and features. There's also a diverse range of grades available, offering options for various preferences and budgets.

## TRENDS AND PATTERNS

## PRICE

In [89]:
 Phigh = df.nlargest(15, ['price', 'bedrooms', 'bathrooms','sqft_living','lat','long'])

 Phigh

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bed_bath
7252,6762700020,2014-10-13,7700000.0,6,8.00,12050,27600,2.5,0,3,...,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800,"6 bed, 8.0 bath"
3914,9808700762,2014-06-11,7060000.0,5,4.50,10040,37325,2.0,1,2,...,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449,"5 bed, 4.5 bath"
9254,9208900037,2014-09-19,6890000.0,6,7.75,9890,31374,2.0,0,4,...,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730,"6 bed, 7.75 bath"
4411,2470100110,2014-08-04,5570000.0,5,5.75,9200,35069,2.0,0,0,...,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345,"5 bed, 5.75 bath"
1448,8907500070,2015-04-13,5350000.0,5,5.00,8000,23985,2.0,0,4,...,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750,"5 bed, 5.0 bath"
1315,7558700030,2015-04-13,5300000.0,6,6.00,7390,24829,2.0,1,4,...,5000,2390,1991,0,98040,47.5631,-122.210,4320,24619,"6 bed, 6.0 bath"
1164,1247600105,2014-10-20,5110000.0,5,5.25,8010,45517,2.0,1,4,...,5990,2020,1999,0,98033,47.6767,-122.211,3430,26788,"5 bed, 5.25 bath"
8092,1924059029,2014-06-17,4670000.0,5,6.75,9640,13068,1.0,1,4,...,4820,4820,1983,2009,98040,47.5570,-122.210,3270,10454,"5 bed, 6.75 bath"
2626,7738500731,2014-08-15,4500000.0,5,5.50,6640,40014,2.0,1,4,...,6350,290,2004,0,98155,47.7493,-122.280,3030,23408,"5 bed, 5.5 bath"
8638,3835500195,2014-06-18,4490000.0,4,3.00,6430,27517,2.0,0,0,...,6430,0,2001,0,98004,47.6208,-122.219,3720,14592,"4 bed, 3.0 bath"
12370,6065300370,2015-05-06,4210000.0,5,6.00,7440,21540,2.0,0,0,...,5550,1890,2003,0,98006,47.5692,-122.189,4740,19329,"5 bed, 6.0 bath"
4149,6447300265,2014-10-14,4000000.0,4,5.50,7080,16573,2.0,0,0,...,5760,1320,2008,0,98039,47.6151,-122.224,3140,15996,"4 bed, 5.5 bath"
2085,8106100105,2014-11-14,3850000.0,4,4.25,5770,21300,2.0,1,4,...,5770,0,1980,0,98040,47.5850,-122.222,4620,22748,"4 bed, 4.25 bath"
7035,853200010,2014-07-01,3800000.0,5,5.50,7050,42840,1.0,0,2,...,4320,2730,1978,0,98004,47.6229,-122.220,5070,20570,"5 bed, 5.5 bath"
19017,2303900100,2014-09-11,3800000.0,3,4.25,5510,35000,2.0,0,4,...,4910,600,1997,0,98177,47.7296,-122.370,3430,45302,"3 bed, 4.25 bath"

The houses with the highest prices possess the greatest number of bedrooms, bathrooms, and the largest living areas, along with higher grades and conditions.

### VINTAGE IS BETTER ?

"Houses constructed earlier exhibit higher prices, leading to the conclusion that the older a house is, the greater its value tends to be."

## GEOGRAPHY

In [123]:
df[['lat','long']].head(20)

        lat     long
0   47.5112 -122.257
1   47.7210 -122.319
2   47.7379 -122.233
3   47.5208 -122.393
4   47.6168 -122.045
5   47.6561 -122.005
6   47.3097 -122.327
7   47.4095 -122.315
8   47.5123 -122.337
9   47.3684 -122.031
10  47.6007 -122.145
11  47.6900 -122.292
12  47.7558 -122.229
13  47.6127 -122.045
14  47.6700 -122.394
15  47.5714 -122.375
16  47.7277 -121.962
17  47.6648 -122.343
18  47.3089 -122.210
19  47.3343 -122.306

location
Location: Seattle, WA, US
County: King, WA

## PART 4

In [131]:
# Convert the 'bathrooms' column to integer data type
df['bathrooms'] = df['bathrooms'].astype(int)
# Print the 'bathrooms' column to check the changes
print(df['bathrooms'])
# Convert the 'sqft_living' column to float data type
df['sqft_living'] = df['sqft_living'].astype(float)
# Print the 'sqft_living' column to check the changes
print(df['sqft_living'])

0        1
1        2
2        1
3        3
4        2
        ..
21608    2
21609    2
21610    0
21611    2
21612    0
Name: bathrooms, Length: 21613, dtype: int32
0        1180.0
1        2570.0
2         770.0
3        1960.0
4        1680.0
          ...
21608    1530.0
21609    2310.0
21610    1020.0
21611    1600.0
21612    1020.0
Name: sqft_living, Length: 21613, dtype: float64

## PART 2

 In this part he data I was working on is from the book 'Introduction to Data Science' by Laura Igual and Santi Seguí."

In [116]:
edu = pd.read_csv('C:\\Users\\Lenovo\\Desktop\\Data Sc\\LIBRARY\\DS\\educ_figdp_1_Data.csv', na_values=':', usecols=["TIME", "GEO", "Value"])#the code reads the CSV file located at the given file path, treats ":" as missing values, and selects only the columns "TIME", "GEO", and "Value" from the file. The resulting DataFrame, edu, will contain the data from these selected columns.

print(edu)
print(edu.head())#shows first 5 records
print(edu.tail())#shows last 5 records
print(edu.describe())#describe the data such mean std max etc ....

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
2    2002  European Union (28 countries)   5.00
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
..    ...                            ...    ...
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[384 rows x 3 columns]
   TIME                            GEO  Value
0  2000  European Union (28 countries)    NaN
1  2001  European Union (28 countries)    NaN
2  2002  European Union (28 countries)   5.00
3  2003  European Union (28 countries)   5.03
4  2004  European Union (28 countries)   4.95
     TIME      GEO  Value
379  2007  Finland   5.90
380  2008  Finland   6.10
381  2009  Finland   6.81
382  2010  Finland   6.85
383  2011  Finland   6.76
              TIME       Value
count   384.000000  361.000000
mean   2005.500000    5.203989
std       3.456556    1.021694
min    2000.000000    2.880000
25%    2002.750000    4.620000
50%    2005.500000    5.060000
75%    2008.250000    5.660000
max    2011.000000    8.810000

In [101]:
edu['Value']#retrieve column
edu[10:14]#slice rows
edu.loc[90:94, ['TIME', 'GEO']]# Select rows 90 to 94 (inclusive) and columns 'TIME' and 'GEO' from the DataFrame 'edu'
edu[edu['Value'] > 6.5].tail()
edu[(edu['TIME'] > 2009) & (edu['Value'] > 6.5)].tail()
edu[edu["Value"]. isnull ()]. head ()#b,b2,bn, retrieves data from df according to certain conditions where b use boolean value ,b2 uses 2 condition,while bn to select null values 
edu.max(axis=0)#retrive max value of eaxh column
edu.max(axis=1)#retrive max value for eaxh row

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14624\2901153984.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  edu.max(axis=1)#retrive max value for eaxh row

0      2000.0
1      2001.0
2      2002.0
3      2003.0
4      2004.0
        ...
379    2007.0
380    2008.0
381    2009.0
382    2010.0
383    2011.0
Length: 384, dtype: float64

In [102]:
s2=(edu["Value"]/100).head()#select and devide over 100 first few rows of  single column
s3=(edu["Value"].apply(np.sqrt)).head()#select and apply function tofirst rows of column
s4 =( edu["Value"].apply(lambda d: d ** 2)).head()#use lamda function: Lambda functions are anonymous functions that can be defined inline and are commonly used in situations where a small, one-line function is needed
edu['ValueNorm'] = (edu['Value'] / edu['Value'].max())
print(edu.tail())
s2
s3
s4

     TIME      GEO  Value  ValueNorm
379  2007  Finland   5.90   0.669694
380  2008  Finland   6.10   0.692395
381  2009  Finland   6.81   0.772985
382  2010  Finland   6.85   0.777526
383  2011  Finland   6.76   0.767310

0        NaN
1        NaN
2    25.0000
3    25.3009
4    24.5025
Name: Value, dtype: float64

## PART 3

In [104]:
import pandas as pd


# Create a dictionary of lists
data = {
    "Name": ["John", "George", "Sami", "Nada"],
    "Age": [25, 26, 27, 28],
    "Score": [80, 90, 70, 60],
}
# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)
print(df)

     Name  Age  Score
0    John   25     80
1  George   26     90
2    Sami   27     70
3    Nada   28     60

In [106]:
import numpy as np
# Create a dictionary of lists with random values
data = {
    "Name": np.random.choice(["John", "George", "Sami", "Nada"], 4),
    "Age": np.random.randint(20, 30, 4),
    "Score": np.random.randint(60, 100, 4),
}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data)
print(df)

   Name  Age  Score
0  John   25     86
1  Nada   25     94
2  Nada   28     90
3  John   21     90

In [109]:
# Create a dictionary of lists with random values and specify the column names
data = {
    "name": np.random.choice(["John", "George", "Sami", "Nada"], 4),
    "age": np.random.randint(20, 30, 4),
    "score": np.random.randint(60, 100, 4),
}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(data, columns=["name", "age", "score"])
print(df)

   name  age  score
0  Nada   27     78
1  Nada   22     81
2  John   25     60
3  Sami   23     72

SyntaxError: invalid syntax (3081662196.py, line 1)